body {
  background-color: #000;
}

/* SearchBar  */

.header-searchBar>.ant-input-wrapper>input {
  background: transparent;
  color: aliceblue;
}

.header-searchBar>.ant-input-wrapper>input::placeholder {
  color: aliceblue;
}

.header-searchBar>.ant-input-wrapper>.ant-input-group-addon>button {
  background: transparent;
}

.header-searchBar>.ant-input-wrapper>.ant-input-group-addon>button>.ant-btn-icon {
  color: aliceblue;
}

/* ant modal  */

.ant-modal-content {
  background: #0f0f0f !important;
  border: 1px solid white !important;
}

.ant-modal-header {
  background: transparent !important;
  color: white !important;
}

.ant-modal-header>.ant-modal-title {
  color: white !important;
}

/* custom input  */

.customInput>input::placeholder {
  color: white !important;
}

.ant-menu {
  background: #00000021 !important;
}

.ant-menu .ant-menu-sub .ant-menu-inline {
  background: #000 !important;
}

.ant-menu-item {
  background: #ffffff1A !important;
}

.ant-menu-item-selected {
  background: #ffffff65 !important;

}

.ant-menu-submenu-open .ant-menu-submenu-selected {
  background: #ffffff65 !important;

}

.ant-menu-submenu {
  background: #ffffff1A !important;
}